.errorsect {
    position: relative;
    z-index: 1;
    height: 100vh;
    display: flex;
    align-items: center;
    min-height: 650px;
}

.errorsect__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.errorsect__inner {
    max-width: 500px;
    text-align: center;

    img {
        width: 484px;
        background-size: cover;
        margin-bottom: 62px;
    }

    p {
        font-size: 19px;
        font-weight: 500;
        margin-bottom: 40px;
    }

    a {
        background: linear-gradient(90deg, rgba(26, 102, 112, 1) 0%, rgba(24, 146, 136, 1) 53%, rgba(50, 162, 153, 1) 100%);
        color: #fff;
        height: 60px;
        width: 275px;
        padding: 14px 53px;
        font-size: 18px;
        font-weight: 700;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        outline: none;
        border-radius: 115px;
        transition: .6s;
        background-size: 100%;

        &:hover {
            background-size: 250%;
            color: #fff;
        }
    }
}

//  ADAPTIVE --------------- //
@media (max-width:1399.8px) {
    .errorsect__inner {
        max-width: 400px;
    }
    .errorsect__inner img {
        width: 350px;
        margin-bottom: 50px;
    }
}
@media (max-width:991.8px) {
    .errorsect__inner {
        max-width: 300px;
    }
    .errorsect__inner img {
        width: 250px;
        margin-bottom: 40px;
    }
}
@media (max-width: 575.8px) {
    .errorsect {
        align-items: flex-start;
        min-height: 600px;
        padding-top: 150px;
    }
    .errorsect__inner {
        max-width: 100%;
    }
    .errorsect__inner img {
        width: 200px;
        margin-bottom: 20px;
    }
    .errorsect__inner p {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .errorsect__inner a {
        height: 50px;
        width: 100%;
        max-width: 300px;
        padding: 12px 53px;
    }
}